# Editor Backups
*~
# Python / IPython
*pyc
*.ipynb_checkpoints*
# Mac thumbnails
.DS_Store

nb_proc/
# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
papers/Doubletiltconcept/doubletiltconcept.pdf