# Editor Backups
*~
*.bak
# Python / IPython
*pyc
*.ipynb_checkpoints*
# Mac thumbnails
.DS_Store

nb_proc/
# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.bst
*.lot
*.lof
*_with_doi.bib
papers/Doubletiltconcept/doubletiltconcept.pdf

# Data files
inputdata/